.headerChild {
  position: relative;
  width: 72px;
  height: 24px;
  flex-shrink: 0;
}
.benefits,
.documentation,
.guidance,
.useCases {
  position: absolute;
  top: 0;
  left: 84.62%;
  letter-spacing: 0.37px;
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
}
.benefits,
.documentation,
.useCases {
  left: 58.33%;
}
.benefits,
.documentation {
  left: 35.04%;
}
.documentation {
  left: 0;
}
.documentationWrapper {
  position: absolute;
  height: 100%;
  width: 24.79%;
  top: 0;
  right: 75.21%;
  bottom: 0;
  left: 0;
}
.sections {
  position: relative;
  width: 468px;
  height: 24px;
  flex-shrink: 0;
}
.submit {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.buttonsmediumsecondary {
  border-radius: var(--br-md);
  border: 1px solid var(--grey-700);
  box-sizing: border-box;
  width: 136px;
  flex-shrink: 0;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: flex-start;
}
.buttons,
.buttonsmediumsecondary,
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buttons {
  align-items: flex-start;
  text-align: center;
}
.header {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.25)
  );
  backdrop-filter: blur(40px);
  padding: var(--padding-xs) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-lg);
  font-size: var(--button-primary-size);
}
.forwardIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  object-fit: cover;
}
.articles1,
.makingAGeneralInquiryOrY {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 498px;
}
.makingAGeneralInquiryOrY {
  top: 94px;
  letter-spacing: 0.37px;
  line-height: 32px;
}
.articles1 {
  top: 0;
  font-size: var(--font-size-3xl);
  line-height: 70px;
}
.div {
  position: relative;
  width: 498px;
  height: 190px;
  flex-shrink: 0;
  font-size: var(--font-size-base);
}
.juice3dIllustrationSecurityIcon {
  position: absolute;
  top: 88px;
  left: 138px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.juiceIconsBankTransfer24x2,
.juiceIconsBankTransfer24x21,
.juiceIconsPaymentTriggered {
  position: absolute;
  top: 71px;
  left: 1px;
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.juiceIconsBankTransfer24x21,
.juiceIconsPaymentTriggered {
  top: 368px;
  left: 1356px;
}
.juiceIconsPaymentTriggered {
  top: 114px;
  left: 1091px;
  width: 88px;
  height: 88px;
}
.juice3dIllustrationExchangeIcon,
.juiceIconsBankTransfer32x3 {
  position: absolute;
  top: 320px;
  left: 0;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.juice3dIllustrationExchangeIcon {
  top: 97px;
  left: 1351px;
  width: 90px;
  height: 90px;
}
.juice3dIllustrationExchangeIcon1,
.juiceIconsTransactionInPro {
  position: absolute;
  top: 363px;
  left: 68px;
  width: 98px;
  height: 98px;
  object-fit: cover;
}
.juiceIconsTransactionInPro {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icons88progress {
  position: absolute;
  top: 244px;
  left: 196px;
  width: 104px;
  height: 104px;
}
.icons88progress1,
.icons88progress2 {
  position: absolute;
  top: 426px;
  left: 1268px;
  width: 71px;
  height: 71px;
}
.icons88progress2 {
  top: 0;
  left: 46px;
}
.juice3dIllustrationCvv060Icon,
.juice3dIllustrationCvv060Icon1 {
  position: absolute;
  top: 183px;
  left: 29px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.juice3dIllustrationCvv060Icon1 {
  top: 234px;
  left: 1229px;
  width: 105px;
  height: 105px;
}
.imgIcon,
.topBgIcons {
  position: relative;
  width: 1441px;
  height: 497px;
  flex-shrink: 0;
  display: none;
}
.imgIcon {
  width: 678px;
  height: 600px;
  object-fit: cover;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--grey-700);
  width: 116px;
  height: 44px;
}
.category {
  position: absolute;
  top: 10px;
  left: 16px;
  letter-spacing: 0.37px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}
.rectangleContainer,
.rectangleGroup,
.rectangleParent {
  position: absolute;
  top: 48px;
  left: 0;
  width: 116px;
  height: 44px;
}
.rectangleContainer,
.rectangleGroup {
  left: 128px;
}
.rectangleContainer {
  left: 256px;
}
.groupDiv,
.rectangleParent1,
.rectangleParent2 {
  position: absolute;
  top: 104px;
  left: 0;
  width: 116px;
  height: 44px;
}
.rectangleParent1,
.rectangleParent2 {
  left: 128px;
}
.rectangleParent2 {
  left: 256px;
}
.discoverMoreOfWhatMatters,
.groupParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 485px;
}
.discoverMoreOfWhatMatters {
  font-size: var(--font-size-base);
  letter-spacing: 0.37px;
  line-height: 32px;
  display: inline-block;
  color: var(--grey-700);
}
.groupParent {
  height: 148px;
}
.articlesInner {
  position: relative;
  width: 485px;
  height: 148px;
  flex-shrink: 0;
  font-size: var(--button-primary-size);
  color: var(--white);
}
.image2Icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  width: 489px;
  height: 316px;
  object-fit: cover;
}
.articleTitleGoesHereAndIt,
.categoryCategory {
  position: absolute;
  top: 340px;
  left: 0;
  letter-spacing: 0.37px;
  line-height: 38px;
  display: inline-block;
  width: 489px;
}
.categoryCategory {
  top: 424px;
  font-size: var(--font-size-2xs);
  line-height: 26px;
  text-transform: uppercase;
  color: var(--grey-600);
}
.image2Parent {
  position: relative;
  width: 489px;
  height: 450px;
  flex-shrink: 0;
}
.footerChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-pink);
}
.juiceAfrica {
  margin-block-start: 0;
  margin-block-end: 0;
}
.allRightsReserved {
  margin: 0;
}
.juiceAfricaAllRightsReser {
  position: absolute;
  width: 79.31%;
  top: 0;
  left: 20.69%;
  letter-spacing: 0.37px;
  line-height: 32px;
  display: inline-block;
}
.groupChild3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--grey-700);
}
.logosjuiceShortIcon {
  position: absolute;
  height: 42.86%;
  width: 21.43%;
  top: 28.57%;
  right: 39.29%;
  bottom: 28.57%;
  left: 39.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleParent3 {
  position: absolute;
  height: 50%;
  width: 13.79%;
  top: 0;
  right: 86.21%;
  bottom: 50%;
  left: 0;
  cursor: pointer;
}
.juiceAfricaAllRightsReserParent {
  position: absolute;
  height: 23.7%;
  width: 16.57%;
  top: 25.19%;
  right: 69.21%;
  bottom: 51.11%;
  left: 14.21%;
  font-size: var(--font-size-xs);
}
.documentation1,
.resources {
  position: absolute;
  left: 0;
  display: inline-block;
}
.resources {
  width: 100%;
  top: 0;
  font-size: var(--font-size-base);
  line-height: 38px;
}
.documentation1 {
  top: 38.03%;
  text-decoration: underline;
  letter-spacing: 0.37px;
  line-height: 36px;
}
.resourcesParent {
  position: absolute;
  height: 52.59%;
  width: 10.6%;
  top: 23.7%;
  right: 56.9%;
  bottom: 23.7%;
  left: 32.5%;
}
.aboutUs,
.contactUs {
  position: absolute;
  top: 38.03%;
  left: 0;
  letter-spacing: 0.37px;
  line-height: 36px;
  display: inline-block;
}
.contactUs {
  top: 74.65%;
  cursor: pointer;
}
.companyParent {
  position: absolute;
  height: 52.59%;
  width: 16.64%;
  top: 23.7%;
  right: 14.21%;
  bottom: 23.7%;
  left: 69.14%;
}
.termsConditions {
  position: absolute;
  top: 60%;
  left: 0;
  letter-spacing: 0.37px;
  line-height: 36px;
  display: inline-block;
  cursor: pointer;
}
.termsConditionsParent {
  position: absolute;
  height: 33.33%;
  width: 10.57%;
  top: 23.7%;
  right: 38.57%;
  bottom: 42.96%;
  left: 50.86%;
}
.footer {
  position: relative;
  width: 1400px;
  height: 270px;
  flex-shrink: 0;
  font-size: var(--button-primary-size);
}
.articles {
  position: relative;
  background-color: var(--grey-100);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--grey-700);
  font-family: var(--button-primary);
}
