.headerChild {
  position: relative;
  width: 72px;
  height: 24px;
  flex-shrink: 0;
}
.benefits,
.documentation,
.guidance,
.useCases {
  position: absolute;
  top: 0;
  left: 84.62%;
  letter-spacing: 0.37px;
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
}
.benefits,
.documentation,
.useCases {
  left: 58.33%;
}
.benefits,
.documentation {
  left: 35.04%;
}
.documentation {
  left: 0;
}
.documentationWrapper {
  position: absolute;
  height: 100%;
  width: 24.79%;
  top: 0;
  right: 75.21%;
  bottom: 0;
  left: 0;
}
.sections {
  position: relative;
  width: 468px;
  height: 24px;
  flex-shrink: 0;
}
.submit {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.buttonsmediumsecondary {
  border-radius: var(--br-md);
  border: 1px solid var(--grey-700);
  box-sizing: border-box;
  width: 136px;
  flex-shrink: 0;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: flex-start;
}
.buttons,
.buttonsmediumsecondary,
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buttons {
  align-items: flex-start;
  text-align: center;
}
.header {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.25)
  );
  backdrop-filter: blur(40px);
  padding: var(--padding-xs) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-lg);
}
.diverseIndustryLeadersUseJ {
  position: absolute;
  top: 136px;
  left: 0;
  letter-spacing: 0.37px;
  line-height: 26px;
  text-transform: uppercase;
  display: inline-block;
}
.credentials,
.credentialsChild,
.credentialsItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 408px;
  height: 48px;
}
.credentials,
.credentialsItem {
  top: 64px;
  width: 168px;
}
.credentials {
  top: 230px;
  width: 408px;
  height: 162px;
  color: var(--grey-600);
}
.howCanWeHelp,
.makingAGeneralInquiryOrY {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 489px;
}
.makingAGeneralInquiryOrY {
  top: 94px;
  font-size: var(--font-size-base);
  letter-spacing: 0.37px;
  line-height: 32px;
}
.howCanWeHelp {
  top: 0;
  font-size: var(--font-size-3xl);
  line-height: 70px;
}
.credentialsParent {
  position: relative;
  width: 489px;
  height: 392px;
  flex-shrink: 0;
}
.bg,
.buttonsbigprimarylabelChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--white);
}
.buttonsbigprimarylabelChild {
  background-color: var(--grey-700);
}
.submit1 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 31.5px);
  letter-spacing: 0.37px;
  line-height: 26px;
  display: inline-block;
}
.buttonsbigprimarylabel {
  position: absolute;
  height: 9.3%;
  width: 83.64%;
  top: 84.88%;
  right: 8.18%;
  bottom: 5.81%;
  left: 8.18%;
  border-radius: var(--br-md);
  background-color: var(--grey-700);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--white);
}
.bg1 {
  border-radius: var(--br-md);
  background-color: var(--white);
  border: 1px solid var(--grey-300);
  box-sizing: border-box;
}
.backgroundsinputactive,
.bg1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.iconRight {
  right: 16px;
  width: 24px;
  height: 24px;
  display: none;
}
.iconLeft,
.iconRight,
.inputTitle,
.suffix {
  position: absolute;
  top: calc(50% - 12px);
}
.iconLeft {
  right: 48px;
  width: 24px;
  height: 24px;
  display: none;
}
.inputTitle,
.suffix {
  letter-spacing: 0.37px;
  line-height: 24px;
}
.inputTitle {
  left: 16px;
  display: flex;
  align-items: center;
  width: 271px;
}
.suffix {
  right: 18px;
  font-size: var(--font-size-xs);
  text-align: right;
  display: none;
}
.inputempty,
.inputempty1,
.inputempty2 {
  position: absolute;
  height: 9.3%;
  width: 83.64%;
  top: 5.81%;
  right: 8.18%;
  bottom: 84.88%;
  left: 8.18%;
}
.inputempty1,
.inputempty2 {
  top: 18.6%;
  bottom: 72.09%;
}
.inputempty2 {
  top: 44.19%;
  bottom: 46.51%;
}
.inputTitle3 {
  position: absolute;
  width: 70.39%;
  top: 13.18%;
  left: 4.16%;
  letter-spacing: 0.37px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.backgroundsinputactiveParent,
.inputempty3 {
  position: absolute;
  height: 23.26%;
  width: 83.64%;
  top: 56.98%;
  right: 8.18%;
  bottom: 19.77%;
  left: 8.18%;
}
.inputempty3 {
  height: 9.3%;
  top: 31.4%;
  bottom: 59.3%;
}
.form {
  position: relative;
  width: 489px;
  height: 688px;
  flex-shrink: 0;
  font-size: var(--button-primary-size);
  color: var(--grey-600);
}
.groupParent,
.top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.groupParent {
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.top {
  width: 1399px;
  padding: 90px 0 var(--padding-lg);
  box-sizing: border-box;
  justify-content: center;
}
.discoverHowWeHelpSomeOfA,
.paymentSolutionsForDiverse1 {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 489px;
}
.discoverHowWeHelpSomeOfA {
  top: 136px;
  letter-spacing: 0.37px;
  line-height: 32px;
}
.paymentSolutionsForDiverse1 {
  top: 0;
  font-size: var(--font-size-2xl);
  line-height: 54px;
  color: var(--grey-700);
}
.discoverHowWeHelpSomeOfAParent {
  position: relative;
  width: 489px;
  height: 168px;
  flex-shrink: 0;
}
.operatingBusinesses {
  position: relative;
  letter-spacing: 0.37px;
  line-height: 32px;
  display: inline-block;
  width: 282px;
  flex-shrink: 0;
}
.buttonsicon {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.useCases1 {
  border-radius: var(--br-md);
  background-color: var(--white);
  backdrop-filter: blur(40px);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.financeManagers {
  position: absolute;
  width: 25.92%;
  top: 10%;
  left: 0;
  letter-spacing: 0.37px;
  line-height: 32px;
  display: inline-block;
}
.buttonsicon1 {
  position: absolute;
  height: 100%;
  width: 4.34%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 95.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.financeManagersParent {
  position: relative;
  width: 922px;
  height: 40px;
  flex-shrink: 0;
}
.div {
  border-radius: var(--br-md);
  background-color: var(--white);
  backdrop-filter: blur(40px);
  width: 1002px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.notSureIfYoureAGoodMatc {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.37px;
  line-height: 32px;
  display: inline-block;
}
.notSureIfYoureAGoodMatcWrapper {
  position: relative;
  width: 866px;
  height: 32px;
  flex-shrink: 0;
}
.wantUsToTakeACloserLook {
  position: relative;
  letter-spacing: 0.37px;
  line-height: 32px;
  display: inline-block;
  width: 858px;
}
.cancel {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 45px);
  line-height: 24px;
  display: inline-block;
}
.buttonsbigsecondary {
  position: relative;
  width: 182px;
  height: 56px;
  flex-shrink: 0;
  cursor: pointer;
  text-align: center;
  color: var(--white);
}
.div2,
.paymentSolutionsForDiverse,
.useCasesParent,
.wantUsToTakeACloserLookParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wantUsToTakeACloserLookParent {
  gap: var(--gap-sm);
  font-size: var(--font-size-base);
}
.div2,
.paymentSolutionsForDiverse,
.useCasesParent {
  gap: var(--gap-xs);
}
.div2 {
  border-radius: var(--br-md);
  background-color: var(--white);
  backdrop-filter: blur(40px);
  width: 1002px;
  padding: var(--padding-xl);
  box-sizing: border-box;
}
.paymentSolutionsForDiverse,
.useCasesParent {
  font-size: var(--font-size-xl);
  color: var(--grey-700);
}
.paymentSolutionsForDiverse {
  padding: var(--padding-lg) 0 var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-md);
  font-size: var(--font-size-base);
  color: var(--grey-600);
}
.footerChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-pink);
}
.juiceAfrica {
  margin-block-start: 0;
  margin-block-end: 0;
}
.allRightsReserved {
  margin: 0;
}
.juiceAfricaAllRightsReser {
  position: absolute;
  width: 79.31%;
  top: 0;
  left: 20.69%;
  letter-spacing: 0.37px;
  line-height: 32px;
  display: inline-block;
}
.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--grey-700);
}
.logosjuiceShortIcon {
  position: absolute;
  height: 42.86%;
  width: 21.43%;
  top: 28.57%;
  right: 39.29%;
  bottom: 28.57%;
  left: 39.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleParent {
  position: absolute;
  height: 50%;
  width: 13.79%;
  top: 0;
  right: 86.21%;
  bottom: 50%;
  left: 0;
  cursor: pointer;
}
.juiceAfricaAllRightsReserParent {
  position: absolute;
  height: 23.7%;
  width: 16.57%;
  top: 25.19%;
  right: 69.21%;
  bottom: 51.11%;
  left: 14.21%;
  font-size: var(--font-size-xs);
}
.articles,
.documentation1,
.resources {
  position: absolute;
  left: 0;
  display: inline-block;
}
.resources {
  width: 100%;
  top: 0;
  font-size: var(--font-size-base);
  line-height: 38px;
}
.articles,
.documentation1 {
  letter-spacing: 0.37px;
  line-height: 36px;
}
.documentation1 {
  top: 38.03%;
  text-decoration: underline;
}
.articles {
  top: 74.65%;
  cursor: pointer;
}
.resourcesParent {
  position: absolute;
  height: 52.59%;
  width: 10.6%;
  top: 23.7%;
  right: 56.9%;
  bottom: 23.7%;
  left: 32.5%;
}
.aboutUs {
  position: absolute;
  top: 38.03%;
  left: 0;
  letter-spacing: 0.37px;
  line-height: 36px;
  display: inline-block;
}
.companyParent {
  position: absolute;
  height: 52.59%;
  width: 16.64%;
  top: 23.7%;
  right: 14.21%;
  bottom: 23.7%;
  left: 69.14%;
}
.termsConditions {
  position: absolute;
  top: 60%;
  left: 0;
  letter-spacing: 0.37px;
  line-height: 36px;
  display: inline-block;
  cursor: pointer;
}
.termsConditionsParent {
  position: absolute;
  height: 33.33%;
  width: 10.57%;
  top: 23.7%;
  right: 38.57%;
  bottom: 42.96%;
  left: 50.86%;
}
.footer {
  position: relative;
  width: 1400px;
  height: 270px;
  flex-shrink: 0;
  font-size: var(--button-primary-size);
}
.contactUs,
.topParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-0);
  font-size: var(--font-size-2xs);
}
.contactUs {
  position: relative;
  background: linear-gradient(180deg, #e3ffe9, #f8f8f8);
  width: 100%;
  overflow: hidden;
  align-items: flex-start;
  text-align: left;
  font-size: var(--button-primary-size);
  color: var(--grey-700);
  font-family: var(--button-primary);
}
