.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--grey-700);
}
.managingGarage,
.web1440x900Px {
  position: absolute;
  top: calc(50% - 96px);
  left: 0;
  display: inline-block;
}
.web1440x900Px {
  top: calc(50% + 19px);
  font-size: var(--font-size-4xl);
}
.managingGarageParent {
  position: absolute;
  top: calc(50% - 101px);
  left: 84px;
  width: 817px;
  height: 192px;
}
.atomssectionTitle {
  position: relative;
  width: 11374px;
  height: 282px;
  flex-shrink: 0;
}
.atomssectionTitleParent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--button-primary);
}
