.headerChild {
  position: relative;
  width: 72px;
  height: 24px;
  flex-shrink: 0;
}
.benefits,
.documentation,
.guidance,
.useCases {
  position: absolute;
  top: 0;
  left: 84.62%;
  letter-spacing: 0.37px;
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
}
.benefits,
.documentation,
.useCases {
  left: 58.33%;
}
.benefits,
.documentation {
  left: 35.04%;
}
.documentation {
  left: 0;
}
.documentationWrapper {
  position: absolute;
  height: 100%;
  width: 24.79%;
  top: 0;
  right: 75.21%;
  bottom: 0;
  left: 0;
}
.sections {
  position: relative;
  width: 468px;
  height: 24px;
  flex-shrink: 0;
}
.submit {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.buttonsmediumsecondary {
  border-radius: var(--br-md);
  border: 1px solid var(--grey-700);
  box-sizing: border-box;
  width: 136px;
  flex-shrink: 0;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: flex-start;
}
.buttons,
.buttonsmediumsecondary,
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buttons {
  align-items: flex-start;
  text-align: center;
}
.header {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.25)
  );
  backdrop-filter: blur(40px);
  padding: var(--padding-xs) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-lg);
}
.termsConditions1 {
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 76px;
  display: inline-block;
  width: 489px;
}
.ourCollectionAndUseOfYour {
  margin-block-start: 0;
  margin-block-end: 0;
}
.thisDocumentWasLastUpdated {
  margin: 0;
}
.pleaseReadTheseTermsOfSer {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.37px;
  line-height: 38px;
  white-space: pre-wrap;
  display: inline-block;
  width: 1002px;
}
.footerChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-pink);
}
.juiceAfricaAllRightsReser {
  position: absolute;
  width: 79.31%;
  top: 0;
  left: 20.69%;
  letter-spacing: 0.37px;
  line-height: 32px;
  display: inline-block;
}
.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--grey-700);
}
.logosjuiceShortIcon {
  position: absolute;
  height: 42.86%;
  width: 21.43%;
  top: 28.57%;
  right: 39.29%;
  bottom: 28.57%;
  left: 39.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleParent {
  position: absolute;
  height: 50%;
  width: 13.79%;
  top: 0;
  right: 86.21%;
  bottom: 50%;
  left: 0;
  cursor: pointer;
}
.juiceAfricaAllRightsReserParent {
  position: absolute;
  height: 23.7%;
  width: 16.57%;
  top: 25.19%;
  right: 69.21%;
  bottom: 51.11%;
  left: 14.21%;
  font-size: var(--font-size-xs);
}
.articles,
.documentation1,
.resources {
  position: absolute;
  left: 0;
  display: inline-block;
}
.resources {
  width: 100%;
  top: 0;
  font-size: var(--font-size-base);
  line-height: 38px;
}
.articles,
.documentation1 {
  letter-spacing: 0.37px;
  line-height: 36px;
}
.documentation1 {
  top: 38.03%;
  text-decoration: underline;
}
.articles {
  top: 74.65%;
  cursor: pointer;
}
.resourcesParent {
  position: absolute;
  height: 52.59%;
  width: 10.6%;
  top: 23.7%;
  right: 56.9%;
  bottom: 23.7%;
  left: 32.5%;
}
.aboutUs {
  position: absolute;
  top: 38.03%;
  left: 0;
  letter-spacing: 0.37px;
  line-height: 36px;
  display: inline-block;
}
.companyParent {
  position: absolute;
  height: 52.59%;
  width: 16.64%;
  top: 23.7%;
  right: 14.21%;
  bottom: 23.7%;
  left: 69.14%;
}
.termsConditions2 {
  position: absolute;
  top: 60%;
  left: 0;
  letter-spacing: 0.37px;
  line-height: 36px;
  display: inline-block;
  cursor: pointer;
}
.termsConditionsParent {
  position: absolute;
  height: 33.33%;
  width: 10.57%;
  top: 23.7%;
  right: 38.57%;
  bottom: 42.96%;
  left: 50.86%;
}
.footer {
  position: relative;
  width: 1400px;
  height: 270px;
  flex-shrink: 0;
}
.termsConditions {
  position: relative;
  background-color: var(--grey-100);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
  text-align: left;
  font-size: var(--button-primary-size);
  color: var(--grey-700);
  font-family: var(--button-primary);
}
