.benefits,
.documentation,
.guidance,
.useCases {
	position: absolute;
	top: 0;
	left: 84.62%;
	letter-spacing: 0.37px;
	line-height: 24px;
	display: inline-block;
	cursor: pointer;
}
.benefits,
.documentation,
.useCases {
	left: 58.33%;
}
.benefits,
.documentation {
	left: 35.04%;
}
.documentation {
	left: 0;
}
.documentationWrapper {
	position: absolute;
	height: 100%;
	width: 24.79%;
	top: 0;
	right: 75.21%;
	bottom: 0;
	left: 0;
}

/* .submit {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
} */
.buttonsmediumsecondary {
	border-radius: var(--br-md);
	border: 1px solid var(--grey-700);
	box-sizing: border-box;
	width: 136px;
	flex-shrink: 0;
	flex-direction: row;
	padding: var(--padding-3xs) var(--padding-sm);
	align-items: flex-start;
}
.buttons,
.buttonsmediumsecondary,
.header,
.headerWrapper {
	display: flex;
	justify-content: flex-start;
}
.buttons {
	flex-direction: row;
	align-items: flex-start;
	text-align: center;
}
.header,
.headerWrapper {
}

.headerWrapper {
	flex-direction: column;
	padding: var(--padding-2xs);
	align-items: flex-start;
	font-size: var(--button-primary-size);
}
.imgIcon {
	position: absolute;
	top: 0;
	left: 0;
	width: 1400px;
	height: 600px;
	object-fit: cover;
}
.diverseIndustryLeadersTrust {
	position: absolute;
	top: 64px;
	left: 253px;
	letter-spacing: 0.37px;
	line-height: 26px;
	text-transform: uppercase;
	display: inline-block;
}
.credentials,
.credentialsChild {
	position: absolute;
	top: 0;
	left: 0;
	width: 748.8px;
	height: 48px;
}
.credentials {
	top: 534px;
	left: 326px;
	height: 90px;
	text-align: left;
	font-size: var(--font-size-2xs);
	color: var(--grey-600);
}
.buttonsbigprimarylabelChild {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--br-md);
	background-color: var(--grey-700);
}
.submit1 {
	position: absolute;
	top: calc(50% - 13px);
	left: calc(50% - 46px);
	line-height: 26px;
	display: inline-block;
}
.buttonsbigprimarylabel {
	position: absolute;
	top: 414px;
	left: 614px;
	border-radius: var(--br-md);
	background-color: var(--grey-700);
	width: 172px;
	height: 56px;
	cursor: pointer;
	color: var(--white);
}
.everythingYouNeedForReliab,
.juiceIsAnEcosystemOfServi {
	position: absolute;
	left: 370px;
	display: inline-block;
	width: 660px;
}
.juiceIsAnEcosystemOfServi {
	top: 318px;
	letter-spacing: 0.37px;
	line-height: 32px;
}
.everythingYouNeedForReliab {
	top: 154px;
	font-size: var(--font-size-3xl);
	line-height: 70px;
}
.top {
	position: relative;
	width: 1400px;
	height: 624px;
	flex-shrink: 0;
	text-align: center;
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--br-md);
	background-color: var(--grey-700);
	width: 1002px;
	height: 292px;
}
.usingJuiceRails {
	margin-block-start: 0;
	margin-block-end: 0;
}
.seeYourTransfers {
	margin: 0;
}
.forForAllPayinAndPayoutT,
.usingJuiceRailsCrossBorde {
	position: absolute;
	left: 40px;
	display: inline-block;
	width: 449px;
}
.usingJuiceRailsCrossBorde {
	top: 140px;
	letter-spacing: 0.37px;
	line-height: 32px;
}
.forForAllPayinAndPayoutT {
	top: 40px;
	font-size: var(--font-size-xl);
	line-height: 42px;
}
.transferAndSettlementInMin {
	position: absolute;
	top: 0;
	left: 24px;
	letter-spacing: 0.37px;
	line-height: 32px;
	display: inline-block;
	width: 415px;
}
.juiceIconsPaymentTriggered {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.icons88success {
	position: absolute;
	top: 9px;
	left: 0;
	width: 16px;
	height: 16px;
}
.transferAndSettlementInMinParent {
	position: absolute;
	top: 0;
	left: 0;
	width: 439px;
	height: 32px;
}
.endToEndDataSecurityParent,
.noMonthlyOrHiddenFeesParent {
	position: absolute;
	top: 40px;
	left: 0;
	width: 439px;
	height: 32px;
}
.endToEndDataSecurityParent {
	top: 80px;
}
.checkmarks {
	top: 140px;
	left: 523px;
	width: 439px;
	height: 112px;
	color: var(--grey-200);
}
.checkmarks,
.div,
.imgIcon1 {
	position: absolute;
}
.div {
	top: 1635px;
	left: 0;
	width: 1002px;
	height: 292px;
	color: var(--grey-100);
}
.imgIcon1 {
	top: 227px;
	left: 19px;
	width: 964px;
	height: 700px;
	object-fit: cover;
}
.oneRobustDashboardToManage,
.withBothTopLevelAndIndept {
	position: absolute;
	top: 98px;
	left: 513px;
	letter-spacing: 0.37px;
	line-height: 32px;
	display: inline-block;
	width: 449px;
}
.oneRobustDashboardToManage {
	left: 40px;
}
.bg1,
.div1 {
	position: absolute;
	left: 0;
	border-radius: var(--br-md);
}
.div1 {
	top: 524px;
	background-color: #5d57f6;
	width: 1002px;
	height: 683px;
	overflow: hidden;
	color: var(--grey-100);
}
.bg1 {
	top: 0;
	background-color: var(--white);
	backdrop-filter: blur(40px);
	width: 489px;
	height: 380px;
}
.especiallyValuableForBusine,
.greatPricing {
	position: absolute;
	left: 40px;
	display: inline-block;
	width: 409px;
}
.especiallyValuableForBusine {
	top: 212px;
	letter-spacing: 0.37px;
	line-height: 32px;
}
.greatPricing {
	top: 152px;
	font-size: var(--font-size-xl);
	line-height: 42px;
}
.juiceIconsTransactionInPro {
	position: absolute;
	height: 23.16%;
	width: 18%;
	top: 10.53%;
	right: 73.82%;
	bottom: 66.32%;
	left: 8.18%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.div2 {
	position: absolute;
	top: 1231px;
	left: 513px;
	width: 489px;
	height: 380px;
}
.juiceDeliversAFrictionless {
	position: absolute;
	top: 210px;
	left: 40px;
	letter-spacing: 0.37px;
	line-height: 32px;
	display: inline-block;
	width: 409px;
}
.div3 {
	position: absolute;
	top: 1231px;
	left: 0;
	width: 489px;
	height: 380px;
}
.bg3,
.imgIcon2 {
	position: absolute;
	top: 0;
	height: 298px;
}
.bg3 {
	left: 0;

	width: 1002px;
}
.imgIcon2 {
	left: 526px;
	border-radius: 0 var(--br-md) var(--br-md) 0;
	width: 476px;
	object-fit: cover;
}
.legacyPaymentsTakeUpTo4B,
.speedySettlements {
	position: absolute;
	top: 40px;
	left: 40px;
	line-height: 42px;
	display: inline-block;
	width: 409px;
}
.legacyPaymentsTakeUpTo4B {
	top: 98px;
	font-size: var(--font-size-base);
	letter-spacing: 0.37px;
	line-height: 32px;
	white-space: pre-wrap;
}
.div4 {
	position: absolute;
	top: 202px;
	left: 0;
	width: 1002px;
	height: 298px;
	font-size: var(--font-size-xl);
}
.acceptAndProcessPaymentsIn1 {
	position: absolute;
	top: 0;
	left: 1px;

	display: inline-block;
	width: 489px;
}

.bg4,
.imgIcon3 {
	position: absolute;
	top: 0;
	height: 634px;
}
.imgIcon3 {
	left: 712px;
	width: 688px;
	object-fit: cover;
}
.bg4 {
	left: 0;
	background-color: var(--grey-700);
	width: 712px;
}
.buttonsbigprimarylabelIconChild {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--br-md);
	background-color: var(--grey-100);
}
.submit2 {
	position: relative;
	text-decoration: underline;
	letter-spacing: 0.37px;
	line-height: 26px;
	display: inline-block;
}
.icons24externalLink {
	position: relative;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	overflow: hidden;
}
.submitParent {
	position: absolute;
	top: calc(50% - 13px);
	left: calc(50% - 83.5px);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px;
	cursor: pointer;
}
.buttons1 {
	position: absolute;
	top: 506px;
	left: 199px;
	width: 216px;
	height: 64px;
	color: var(--grey-700);
}
.thousandOfSuccessfulPayouts {
	position: absolute;
	top: 0;
	left: 24px;
	letter-spacing: 0.37px;
	line-height: 32px;
	display: inline-block;
	width: 465px;
}
.thousandOfSuccessfulPayoutsParent {
	position: absolute;
	top: 0;
	left: 0;
	width: 489px;
	height: 32px;
}
.checkmarks1,
.complianceRiskExpertsParent,
.roundTheClockSupportParent {
	position: absolute;
	top: 40px;
	left: 0;
	width: 489px;
	height: 32px;
}
.checkmarks1,
.roundTheClockSupportParent {
	top: 80px;
}
.checkmarks1 {
	top: 362px;
	left: 199px;
	height: 112px;
}
.higherLevelsOfOperationalE1,
.juiceIsAnEcosystemOfServi1 {
	position: absolute;
	top: 250px;
	left: 199px;
	letter-spacing: 0.37px;
	line-height: 32px;
	display: inline-block;
	width: 489px;
}
.higherLevelsOfOperationalE1 {
	top: 64px;
	font-size: var(--font-size-2xl);
	line-height: 54px;
}
.higherLevelsOfOperationalE {
	position: relative;
	width: 1400px;
	height: 634px;
	flex-shrink: 0;
	color: var(--grey-200);
}
.bg5 {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--br-md);
	background-color: var(--grey-700);
	width: 1002px;
	height: 260px;
}
.b,
.countriesSupportedForUsdPa {
	position: absolute;
	top: 40px;
	left: 40px;
	letter-spacing: 0.37px;
	line-height: 42px;
	display: inline-block;
}
.countriesSupportedForUsdPa {
	top: 98px;
	font-size: var(--font-size-base);
	line-height: 32px;
	width: 227px;
}
.b1,
.countriesSupportedForLocal {
	position: absolute;
	top: 40px;
	left: 386px;
	letter-spacing: 0.37px;
	line-height: 42px;
	display: inline-block;
}
.countriesSupportedForLocal {
	top: 98px;
	font-size: var(--font-size-base);
	line-height: 32px;
	width: 183px;
}
.allBraggingRightsUnreserved,
.b2,
.quickerPayoutTime {
	position: absolute;
	top: 40px;
	left: 674px;
	letter-spacing: 0.37px;
	line-height: 42px;
	display: inline-block;
}
.allBraggingRightsUnreserved,
.quickerPayoutTime {
	top: 98px;
	font-size: var(--font-size-base);
	line-height: 32px;
}
.allBraggingRightsUnreserved {
	top: 194px;
	left: 40px;
	font-size: var(--font-size-2xs);
	line-height: 26px;
	text-transform: uppercase;
	color: var(--grey-300);
}
.bg6,
.div5 {
	position: absolute;
	left: 0;
}
.div5 {
	top: 1356px;
	width: 1002px;
	height: 260px;
	color: var(--grey-200);
}
.bg6 {
	top: 0;
	border-radius: var(--br-md);
	background-color: var(--white);
	backdrop-filter: blur(40px);
	width: 489px;
	height: 378px;
}
.juiceIconsTransactionInPro2 {
	position: absolute;
	height: 23.28%;
	width: 18%;
	top: 10.58%;
	right: 73.82%;
	bottom: 66.14%;
	left: 8.18%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.div6 {
	position: absolute;
	top: 954px;
	left: 513px;
	width: 489px;
	height: 378px;
	font-size: var(--font-size-base);
}
.getYourBusinessAndYourUse,
.kycFraudChecks {
	position: absolute;
	top: 152px;
	left: 40px;
	line-height: 42px;
	display: inline-block;
	width: 409px;
}
.getYourBusinessAndYourUse {
	top: 210px;
	font-size: var(--font-size-base);
	letter-spacing: 0.37px;
	line-height: 32px;
}
.div7,
.div8,
.div9,
.icons8Europe941 {
	position: absolute;
	top: 954px;
	left: 0;
	width: 489px;
	height: 378px;
}
.div8,
.div9,
.icons8Europe941 {
	top: 552px;
	left: 513px;
}
.div9,
.icons8Europe941 {
	left: 0;
}
.icons8Europe941 {
	top: 40px;
	left: 40px;
	width: 88px;
	height: 88px;
	object-fit: cover;
}
.div10 {
	position: absolute;
	top: 150px;
	left: 513px;
	width: 489px;
	height: 378px;
}
.benefits2,
.div11,
.whyJuice {
	position: absolute;
	left: 0;
	width: 489px;
}
.div11 {
	top: 150px;
	height: 378px;
	font-size: var(--font-size-base);
}
.benefits2,
.whyJuice {
	display: inline-block;
}
.whyJuice {
	top: 78px;
	font-size: var(--font-size-base);
	letter-spacing: 0.37px;
	line-height: 32px;
	color: var(--grey-600);
}
.benefits2 {
	top: 0;
	font-size: var(--font-size-2xl);
	line-height: 54px;
}
.benefits1 {
	position: relative;
	width: 1002px;
	height: 1616px;
	flex-shrink: 0;
}
.benefitsWrapper {
	display: flex;
	flex-direction: row;
	padding: var(--padding-2xl) 0 var(--padding-lg);
	box-sizing: border-box;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: var(--font-size-xl);
}
.discoverHowWeHelpSomeOfA,
.paymentSolutionsForDiverse1 {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 489px;
}
.discoverHowWeHelpSomeOfA {
	top: 136px;
	letter-spacing: 0.37px;
	line-height: 32px;
}
.paymentSolutionsForDiverse1 {
	top: 0;
	font-size: var(--font-size-2xl);
	line-height: 54px;
	color: var(--grey-700);
}
.discoverHowWeHelpSomeOfAParent {
	position: relative;
	width: 489px;
	height: 168px;
	flex-shrink: 0;
}
.operatingBusinesses {
	position: relative;
	letter-spacing: 0.37px;
	line-height: 32px;
	display: inline-block;
	width: 282px;
	flex-shrink: 0;
}
.buttonsicon {
	position: relative;
	width: 40px;
	height: 40px;
	flex-shrink: 0;
}
.useCases1 {
	border-radius: var(--br-md);
	background-color: var(--white);
	backdrop-filter: blur(40px);
	display: flex;
	flex-direction: row;
	padding: var(--padding-xl);
	box-sizing: border-box;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-xl);
}
.financeManagers {
	position: absolute;
	width: 25.92%;
	top: 10%;
	left: 0;
	letter-spacing: 0.37px;
	line-height: 32px;
	display: inline-block;
}
.buttonsicon1 {
	position: absolute;
	height: 100%;
	width: 4.34%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 95.66%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.financeManagersParent {
	position: relative;
	width: 922px;
	height: 40px;
	flex-shrink: 0;
}
.div12 {
	border-radius: var(--br-md);
	background-color: var(--white);
	backdrop-filter: blur(40px);
	width: 1002px;
	display: flex;
	flex-direction: row;
	padding: var(--padding-xl);
	box-sizing: border-box;
	align-items: center;
	justify-content: flex-start;
}
.notSureIfYoureAGoodMatc {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	letter-spacing: 0.37px;
	line-height: 32px;
	display: inline-block;
}
.notSureIfYoureAGoodMatcWrapper {
	position: relative;
	width: 866px;
	height: 32px;
	flex-shrink: 0;
}
.wantUsToTakeACloserLook {
	position: relative;
	letter-spacing: 0.37px;
	line-height: 32px;
	display: inline-block;
	width: 858px;
}
.cancel {
	position: absolute;
	top: calc(50% - 12px);
	left: calc(50% - 45px);
	line-height: 24px;
	display: inline-block;
}
.buttonsbigsecondary {
	position: relative;
	width: 182px;
	height: 56px;
	flex-shrink: 0;
	cursor: pointer;
	text-align: center;
	color: var(--white);
}
.wantUsToTakeACloserLookParent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-sm);
	font-size: var(--font-size-base);
}
.div14 {
	border-radius: var(--br-md);
	background-color: var(--white);
	backdrop-filter: blur(40px);
	width: 1002px;
	padding: var(--padding-xl);
	box-sizing: border-box;
	gap: var(--gap-xs);
}
.div14,
.paymentSolutionsForDiverse,
.useCasesParent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.useCasesParent {
	gap: var(--gap-xs);
	font-size: var(--font-size-xl);
	color: var(--grey-700);
}
.paymentSolutionsForDiverse {
	padding: var(--padding-lg) 0 var(--padding-2xl);
	box-sizing: border-box;
	gap: var(--gap-md);
	color: var(--grey-600);
}
.bg12,
.imgIcon4 {
	position: absolute;
	top: 0;
	height: 580px;
}
.bg12 {
	left: 0;
	background-color: var(--grey-700);
	backdrop-filter: blur(40px);
	width: 1400px;
}
.imgIcon4 {
	left: 710px;
	width: 690px;
	object-fit: cover;
}
.submit3 {
	position: absolute;
	top: calc(50% - 13px);
	left: calc(50% - 48px);
	letter-spacing: 0.37px;
	line-height: 26px;
	display: inline-block;
}
.buttonsbigprimarylabel1 {
	position: absolute;
	top: 452px;
	left: 199px;
	width: 172px;
	height: 64px;
	cursor: pointer;
	text-align: center;
	color: var(--grey-700);
}
.checkmarks2 {
	position: absolute;
	top: 308px;
	left: 199px;
	width: 489px;
	height: 112px;
}
.ourTeamOfExpertsProvideGu {
	position: absolute;
	top: 196px;
	left: 199px;
	letter-spacing: 0.37px;
	line-height: 32px;
	display: inline-block;
	width: 489px;
}
.allTheGuidanceYoullNeed {
	position: relative;
	width: 1400px;
	height: 580px;
	flex-shrink: 0;
	color: var(--grey-200);
}
.footerChild {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--color-pink);
}
.juiceAfricaAllRightsReser {
	position: absolute;
	width: 79.31%;
	top: 0;
	left: 20.69%;
	letter-spacing: 0.37px;
	line-height: 32px;
	display: inline-block;
}
.groupChild {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--br-sm);
	background-color: var(--grey-700);
}
.logosjuiceShortIcon {
	position: absolute;
	height: 42.86%;
	width: 21.43%;
	top: 28.57%;
	right: 39.29%;
	bottom: 28.57%;
	left: 39.29%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.rectangleParent {
	position: absolute;
	height: 50%;
	width: 13.79%;
	top: 0;
	right: 86.21%;
	bottom: 50%;
	left: 0;
	cursor: pointer;
}
.juiceAfricaAllRightsReserParent {
	position: absolute;
	height: 23.7%;
	width: 16.57%;
	top: 25.19%;
	right: 69.21%;
	bottom: 51.11%;
	left: 14.21%;
	font-size: var(--font-size-xs);
}
.articles,
.documentation1,
.resources {
	position: absolute;
	left: 0;
	display: inline-block;
}
.resources {
	width: 100%;
	top: 0;
	font-size: var(--font-size-base);
	line-height: 38px;
}
.articles,
.documentation1 {
	letter-spacing: 0.37px;
	line-height: 36px;
}
.documentation1 {
	top: 38.03%;
	text-decoration: underline;
}
.articles {
	top: 74.65%;
	cursor: pointer;
}
.resourcesParent {
	position: absolute;
	height: 52.59%;
	width: 10.6%;
	top: 23.7%;
	right: 56.9%;
	bottom: 23.7%;
	left: 32.5%;
}
.aboutUs {
	position: absolute;
	top: 38.03%;
	left: 0;
	letter-spacing: 0.37px;
	line-height: 36px;
	display: inline-block;
}
.companyParent {
	position: absolute;
	height: 52.59%;
	width: 16.64%;
	top: 23.7%;
	right: 14.21%;
	bottom: 23.7%;
	left: 69.14%;
}
.termsConditions {
	position: absolute;
	top: 60%;
	left: 0;
	letter-spacing: 0.37px;
	line-height: 36px;
	display: inline-block;
	cursor: pointer;
}
.termsConditionsParent {
	position: absolute;
	height: 33.33%;
	width: 10.57%;
	top: 23.7%;
	right: 38.57%;
	bottom: 42.96%;
	left: 50.86%;
}
.footer {
	position: relative;
	width: 1400px;
	height: 270px;
	flex-shrink: 0;
	font-size: var(--button-primary-size);
}
